body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.list-container {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;

}

.product-name {
  visibility: hidden;
  opacity: 0;
  display: none;
  
}

.product-name.visible {
  visibility: visible;
  opacity: 1;
  display: block;
  padding: 10px;
}

.product-container {
  padding: 40px;
  box-shadow: 1px 1px 10px 2px lightgray;

}

.sum {
  margin-right: 10px;
}